<%= form_for [commentable, comment], id: id, namespace: id, remote: true do |form|%>
  <div class="field">
    <%= form.trix_editor :content, required: true %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
