<div class = "d-flex justify-content-center">
  <button class = "btn btn-light border">
    <%= link_to 'New Post', new_post_path %>
  </button>
</div>
<hr>
<h1>Recent Posts</h1>

<%= render @posts %>

