// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  font-size: 16px;
  font-weight:bold;
}

.comment-body {
  font-size:14px;
}

#comment-buttons{
  .crud-link{
    cursor: pointer;
    font-size: 10px;
    color: blue;
    &:visited{
      color: blue;
    }
    &:hover{
      color: black;
    }
  }
}
