// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-btn {
  color: black;
  &:hover{
    color: blue;
  }
}

.liked {
  color: blue;
  &:hover{
    color: black;
  }
}

.post-content{
  max-height: 500px;
  overflow: hidden;
}
