<%= link_to 'Pending Posts', moderator_path(:status => 'pending'), class: "post_actions"%>
<%= link_to 'Published Posts', moderator_path(:status => 'published'), class: "post_actions"%>
<h1><%= @status.upcase_first %> Posts</h1>
<%= render @posts%>
